/* Stili globali */
body {
  font-family: 'Inter', sans-serif;
  margin: 0px 50px;
  padding: 0;
  background-color: #060505; /* Sfondo nero */
  color: #e3d1b5; /* Testo beige */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #06050500; /* Sfondo nero */
  color: #e3d1b5; /* Testo beige */
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  height: 50px;
  width: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #e3d1b5; /* Testo beige */
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #6a1a9b; /* Colore viola all'hover */
}

/* Header Slider */
.header-slider {
  width: 100%;
  position: relative;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e3d1b5; /* Testo beige */
  background-color: rgba(6, 5, 5, 0.301); /* Sfondo semitrasparente */
  padding: 20px; /* Aggiunto padding */
  border-radius: 10px; /* Bordo stondato */
  opacity: 0; /* Inizialmente trasparente */
  transition: opacity 0.3s ease; /* Aggiunto un'animazione di dissolvenza */
}

.visible {
  opacity: 1; /* Renderlo completamente opaco quando visibile */
}

.slide-text h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.slide-text p {
  font-size: 1.5rem;
}

.slick-slider {
  position: relative;
  display: block;
}

.slick-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Timer */
.timer {
  text-align: center;
  margin: 20px;
  background-color: #060505; /* Sfondo nero */
  color: #e3d1b5; /* Testo beige */
  border-radius: 10px; /* Bordo stondato */
  padding: 20px;
  border: 1px solid #686868;
}

.timer p {
  font-size: 2rem;
}

.timer input {
  width: 120px;
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid rgba(227, 209, 181, 0.4);
  border-radius: 5px;
  text-align: center;
}

.timer button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #8a2be2; /* Colore viola */
  color: #fff; /* Testo bianco */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.timer button:hover {
  background-color: #6a1a9b; /* Colore viola più scuro all'hover */
}

/* Blog Posts */
.blog-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}

.blog-card {
  background-color: #060505; /* Sfondo nero */
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(227, 209, 181, 0.4);
  margin: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.blog-card:hover {
  box-shadow: 0 0px 25px rgba(255, 186, 76, 0.4);
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #e3d1b5;
}

.blog-content {
  padding: 20px;
}

.blog-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.blog-description {
  font-size: 1rem;
  color: #e3d1b5;
}

/* Footer */
.footer {
  background-color: #060505; /* Sfondo nero */
  color: #e3d1b5; /* Testo beige */
  padding: 20px;
  text-align: center;
  margin-top: 70px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
}

.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

input,
.button,
footer button {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.button,
footer button {
  background-color: #8a2be2; /* Colore viola */
  color: #fff; /* Testo bianco */
  transition: background-color 0.3s ease;
}

.button:hover,
footer button:hover {
  background-color: #6a1a9b; /* Colore viola più scuro all'hover */
  cursor: pointer;
}

.social-icons a {
  color: #e3d1b5;
  margin-right: 10px;
  font-size: 1.5rem;
}

.copyright {
  margin-top: 20px;
}

.section {
  display: flex;
  margin: 20px 0;
}

.section-text {
  flex: 1;
  padding: 20px;
}

.section-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section-text p {
  font-size: 1.2rem;
}

.section-image {
  flex: 1;
  padding: 20px;
  max-width: 750px; /* Imposta la larghezza massima a 150px */
  max-height: 750px; /* Imposta l'altezza massima a 150px */
  overflow: hidden; /* Nasconde qualsiasi parte dell'immagine che supera le dimensioni specificate */
}

.section-image img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Garantisce che l'immagine non superi la larghezza massima specificata */
  max-height: 100%; /* Garantisce che l'immagine non superi l'altezza massima specificata */
  border-radius: 10px; /* Bordo stondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra */
}

