/* Stili globali */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 100px;
  padding: 0;
  background-color: #060505; /* Sfondo nero */
  color: #e3d1b5; /* Testo beige */
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0px;
  width: 100%;
  background-color: #06050570;
  color: #e3d1b5;
  height: 60px; /* Altezza desiderata */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Assicura che la navbar sia sopra gli altri elementi */
}

.logo {
  max-height: 75px;
  max-width: 75px;
  overflow: hidden;
  margin-right: 20px;
}

.logo img {
  height: auto;
  max-width: 100%; /* Garantisce che l'immagine non superi la larghezza massima specificata */
  max-height: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #e3d1b5; /* Testo beige */
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #6a1a9b; /* Colore viola all'hover */
}

.header {
  position: relative;
  text-align: center;
}

.header-image {
  width: 100%;
  height: 100vh; /* Altezza massima dell'immagine */
  object-fit: cover; /* Copre completamente l'area designata senza distorcere l'immagine */
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e3d1b5;; /* Colore del testo */
}

.header-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #8a2be2; /* Colore viola */
  color: #e3d1b5;; /* Testo bianco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #6a1a9b; /* Colore viola più scuro all'hover */
}

/* Timer */
.timer {
  text-align: center;
  margin: 20px 0px;
  background-color: #060505; /* Sfondo nero */
  color: #e3d1b5; /* Testo beige */
  border-radius: 10px; /* Bordo stondato */
  padding: 20px;
  border: 1px solid #e3d1b5;;
}

.timer p {
  font-size: 2rem;
}

.timer input {
  width: 120px;
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid #e3d1b5;;
  border-radius: 5px;
  text-align: center;
}

.timer button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #8a2be2; /* Colore viola */
  color: #e3d1b5;; /* Testo bianco */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.timer button:hover {
  background-color: #6a1a9b; /* Colore viola più scuro all'hover */
}

/* Blog Posts */
.blog-section {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin: 30px 0px;
}

.blog-card {
  background-color: #060505; /* Sfondo nero */
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(227, 209, 181, 0.4);
  margin: 30px 15px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.blog-card:hover {
  box-shadow: 0 0px 25px rgba(255, 76, 174, 0.4);
}

.blog-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
  text-align: center;
}

.blog-title {
  font-size: 1.5rem;
  margin-bottom: 25px;
  margin-top: 0px;
}

.blog-description {
  font-size: 0.9rem;
  color: #e3d1b5;
}

/* Footer */
.footer {
  background-color: #e3d1b5; /* Colore di sfondo invertito */
  color: #060505; /* Colore del testo invertito */
  padding: 20px;
  text-align: center;
  margin-top: -50px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
}

.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
  color: #060505;
}

input,
.button,
footer button {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.button,
footer button {
  background-color: #8a2be2; /* Colore viola */
  color: #e3d1b5; /* Testo bianco */
  transition: background-color 0.3s ease;
}

.button:hover,
footer button:hover {
  background-color: #6a1a9b; /* Colore viola più scuro all'hover */
  cursor: pointer;
}

.social-icons a{
  color: #060505;
  justify-content: center;
  margin: 0px 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover{
  color: #6a1a9b;
}

.copyright {
  margin-top: 20px;
}

.section {
  display: flex;
  margin: 20px 0px;
  justify-content: center;
}

.section-text {
  flex: 1;
  padding: 20px;
}

.section-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section-text p {
  font-size: 1.2rem;
}

.section-image {
  flex: 1;
  padding: 20px;
  max-width: 400px; /* Imposta la larghezza massima a 150px */
  max-height: 400px; /* Imposta l'altezza massima a 150px */
  overflow: hidden; /* Nasconde qualsiasi parte dell'immagine che supera le dimensioni specificate */
}

.section-image img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Garantisce che l'immagine non superi la larghezza massima specificata */
  max-height: 100%; /* Garantisce che l'immagine non superi l'altezza massima specificata */
  border-radius: 10px; /* Bordo stondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra */
}

.about-us-with-newsletter {
  display: flex;
  flex-direction: column; /* Colonna nella versione mobile */
  margin: 40px 0;
  background-color: #e3d1b5; /* Colore di sfondo invertito */
  color: #060505; /* Colore del testo invertito */
  border-radius: 10px;
}
.newsletter-form h2,
.newsletter-form p {
  color: #060505; /* Colore del testo invertito */
}

.newsletter-form form {
  display: flex;
  flex-direction: column;
}

.newsletter-form label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #060505; /* Colore del testo invertito */
}

.newsletter-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #060505;
  border-radius: 5px;
  background-color: #e3d1b5; /* Colore di sfondo invertito */
  color: #060505; /* Colore del testo invertito */
}

.newsletter-form button {
  padding: 10px;
  background-color: #8a2be2; /* Colore viola */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #6a1a9b; /* Colore viola più scuro all'hover */
}

@media (min-width: 768px) {
  .about-us-with-newsletter {
    flex-direction: row; /* Riga nella versione desktop */
  }

  .about-us-content {
    flex: 1;
    padding: 20px;
    background-color: #e3d1b5; /* Colore di sfondo invertito */
    color: #060505; /* Colore del testo invertito */
    border-radius: 10px;
  }

  .newsletter-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e3d1b5; /* Colore di sfondo invertito */
    color: #060505; /* Colore del testo invertito */
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column; /* Imposta la direzione della colonna per la versione mobile */
    margin: 0px;
  }

  .section-text,
  .section-image {
    width: 90%; /* Occupa l'intera larghezza della colonna */
    justify-content: center;
    align-items: center;
  }

  body{
    margin: 0px 30px;
    overflow-x: hidden;
  }
  .logo {
    margin-right: 0px;
  }
  .about-us-with-newsletter {
    flex-direction: column; /* Riga nella versione desktop */
    justify-content: center;
  }

  .about-us-content {
    padding: 20px;
    background-color: #e3d1b5; /* Colore di sfondo invertito */
    color: #060505; /* Colore del testo invertito */
    border-radius: 10px;
  }

  .newsletter-form {
    margin: 0 auto;
    padding: 20px;
    background-color: #e3d1b5; /* Colore di sfondo invertito */
    color: #060505; /* Colore del testo invertito */
    border-radius: 10px;
  }
}